<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <title>게시판 글 보기</title>
  <link rel="stylesheet" href="../../public/css/common.css">
  <link rel="stylesheet" href="../../public/css/forum-detail.css"
</head>
<body>
  <div class="title-container">
    <span class="sign-member">
        <a class="authLink" href="sign-signup.html">회원가입</a>
        <a class="authLink" href="sign-login.html">로그인</a>
      </span>
    <div class="title-background">
      <h1 class="title-content">
        <a href="menu-movie.html"><img class="title-logo" src="../../public/img/scene_kimchi_logo.png" alt="씬김치 로고"></a>
      </h1>
    </div>
  </div>
<div class="body">
    <div class="menu">
        <ul class="select-menu">
          <a class="select-menu-detail" href="menu-movie.html"><li>작품</li></a>
          <a class="select-menu-detail" href="menu-forum.html"><li>게시판</li></a>
        </ul>
    </div>
    <div class="forum-detail-form">
        <div class="forum-detail-form-content">
        <table class="forum-detail table">
            <tr class="forum-detail table-row">
                <td class="forum-detail rowname">제목</td>
                <td class="forum-detail forum-title">게시글 제목</td>
            </tr>
            <tr class="forum-detail table-row">
                <td class="forum-detail rowname">작성자</td>
                <td class="forum-detail forum-writer">게시글 작성자</td>
            </tr>
        </table>
        <span class="forum-detail content-title">내용</span>
        <p class="forum-detail content-detail">
            내용이 표시됩니다.내용이 표시됩니다.내용이 표시됩니다.내용이 표시됩니다.
            내용이 표시됩니다.내용이 표시됩니다.내용이 표시됩니다.내용이 표시됩니다.
            내용이 표시됩니다.내용이 표시됩니다.내용이 표시됩니다.내용이 표시됩니다.
        </p>
        <div class="forum-detail upvote">
            <div class="forum-detail upvote-number">추천 개수</div>
            <button class="forum-detail upvote-btn" type="button">추천하기</button>
        </div>
        </div>
    </div>

    <div class="forum-detail write-comment">
      <div class="forum-detail write-comment-title">댓글 쓰기</div>
      <div class="forum-detail write-comment-textarea">
        <textarea class="forum-detail write-comment-detail" cols="75" rows="3"></textarea>
      </div>
      <div class="forum-detail comment-btn-box">
        <button class="forum-detail comment-btn">댓글 등록</button>
      </div>
    </div>

    <table class="forum-detail comment-table">
        <tr class="forum-detail comment-row">
            <td class="forum-detail comment-id">아이디</td>
            <td class="forum-detail comment-detail">댓글 내용</td>
        </tr>
    </table>
</div>
<footer>
  Created by<br>
  김영훈, 김학재, 남호철, 안석진, 윤지아<br>
</footer>

</body>
</html>
