<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <title>작품 보기</title>
  <link rel="stylesheet" href="../public/css/menu-movie.css">
  <link rel="stylesheet" href="../public/css/common.css">
</head>

<body>
  <div class="title-container">
    <span class="sign-member">
      <a class="authLink" href="sign-signup.html">회원가입</a>
      <a class="authLink" href="sign-login.html">로그인</a>
    </span>
    <div class="title-background">
      <h1 class="title-content">
        <a href="menu-movie.html"><img class="title-logo" src="../public/img/scene_kimchi_logo.png" alt="씬김치 로고"></a>
      </h1>
    </div>
  </div>

  <div class="body">
      <div class="menu">
        <ul class="select-menu">
          <a class="select-menu-detail" href="menu-movie.html"><li>작품</li></a>
          <a class="select-menu-detail" href="menu-forum.html"><li>게시판</li></a>
        </ul>
      </div>
    <div class="body-content">
      <span class="search-content">
        <input type="text" class="search-box search-movie" placeholder="영화 명을 입력하세요.">
      </span>
      <table class="table-movie">
        <tr>
          <td><img class="table-movie-content" src="../public/img/기묘한이야기.jpg" alt="기묘한 이야기 포스터">기묘한 이야기</td>
          <td><img class="table-movie-content" src="../public/img/나르코스.jpg" alt="나르코스 포스터">나르코스</td>
          <td><img class="table-movie-content" src="../public/img/도깨비.jpg" alt="도깨비 포스터">도깨비</td>
          <td><img class="table-movie-content" src="../public/img/살아있다.jpg" alt="살아있다 포스터">살아있다</td>
        </tr>
        <tr>
          <td><img class="table-movie-content" src="../public/img/왕좌의게임.jpg" alt="왕좌의게임 포스터">왕좌의 게임</td>
          <td><img class="table-movie-content" src="../public/img/위쳐.jpg" alt="위쳐 포스터">위쳐</td>
          <td><img class="table-movie-content" src="../public/img/종이의집.jpg" alt="종이의집 포스터">종이의 집</td>
          <td><img class="table-movie-content" src="../public/img/킹덤.jpg" alt="킹덤 포스터">킹덤</td>
        </tr>
      </table>
      
    </div>
  </div>
  <footer>
    Created by<br>
    김영훈, 김학재, 남호철, 안석진, 윤지아<br>
  </footer>
</body>
</html>
