.user-detail-form {
    margin: 30px auto;
    border: 1px solid #D1D1D1;
    width: 50%;
    background-color: black;
    color: white;
    opacity: 0.9;
    border-radius: 4px;
    height: 60vh;
}
.user-detail-form-title, .user-detail-form-content {
    margin: 20px;
}
.user-detail-form-title {
    margin: 20px;
}
.table-row {
    margin-bottom: 10px;
    height: 50px;
}
.rowname {
    text-align: center;
    padding-right: 20px;
    font-weight: bold;
}