<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <title>작품 보기</title>
  <link rel="stylesheet" href="css/menu-movie.css">
  <link rel="stylesheet" href="css/common.css">
</head>

<body>
  <div class="title-container">
    <span class="sign-member">
      <% if(user){ %>
        <a class="authLink" href="/user/detail?id=<%=user.id%>"><%=user.name%> 님</a>
          <a class="authLink" href="/user/logout">로그아웃</a>
      <% }else{ %>
          <a class="authLink" href="/user/sign_up">회원가입</a>
          <a class="authLink" href="/user/login">로그인</a>
      <% } %>    
    </span>
    <div class="title-background">
      <h1 class="title-content">
        <a href="/"><img class="title-logo" src="img/scene_kimchi_logo.png" alt="씬김치 로고"></a>
      </h1>
    </div>
  </div>

  <div class="body">
      <div class="menu">
        <ul class="select-menu">
          <a class="select-menu-detail" href="menu-movie.html"><li>작품</li></a>
          <a class="select-menu-detail" href="/forum"><li>게시판</li></a>
        </ul>
      </div>
    <div class="body-content">
      <table class="table-movie">
        <tr>
          <td><img class="table-movie-content" src="img/기묘한이야기.jpg" alt="기묘한 이야기 포스터">기묘한 이야기</td>
          <td><img class="table-movie-content" src="img/나르코스.jpg" alt="나르코스 포스터">나르코스</td>
          <td><img class="table-movie-content" src="img/도깨비.jpg" alt="도깨비 포스터">도깨비</td>
          <td><img class="table-movie-content" src="img/살아있다.jpg" alt="살아있다 포스터">살아있다</td>
        </tr>
        <tr>
          <td><img class="table-movie-content" src="img/왕좌의게임.jpg" alt="왕좌의게임 포스터">왕좌의 게임</td>
          <td><img class="table-movie-content" src="img/위쳐.jpg" alt="위쳐 포스터">위쳐</td>
          <td><img class="table-movie-content" src="img/종이의집.jpg" alt="종이의집 포스터">종이의 집</td>
          <td><img class="table-movie-content" src="img/킹덤.jpg" alt="킹덤 포스터">킹덤</td>
        </tr>
      </table>
    </div>
  </div>
  <footer>
    Created by<br>
    김영훈, 김학재, 남호철, 안석진, 윤지아<br>
  </footer>
</body>
</html>
