<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <title>로그인</title>
  <link rel="stylesheet" href="css/sign-login.css">
  <link rel="stylesheet" href="css/common.css">
</head>
<body>
  <div class="title-container">
    <span class="sign-member">
      <a class="authLink" href="/user/sign_up">회원가입</a>
    </span>
    <div class="title-background">
      <h1 class="title-content">
        <a href="/"><img class="title-logo" src="img/scene_kimchi_logo.png" alt="씬김치 로고"></a>
      </h1>
    </div>
  </div>
<div class="body">
  
  <div class="menu">
    <ul class="select-menu">
      <a class="select-menu-detail" href="/show"><li>작품</li></a>
      <a class="select-menu-detail" href="/forum"><li>게시판</li></a>
    </ul>
  </div>
  <div class="log-in-form">
    <h2 class="log-in-form-title">
      로그인
    </h2>
      <form action="/user/login" method="post">
        <div class="log-in-form-content">
          <div class="log-in-row">
            <h3 class="log-in-row-title"><label for="log-in-id">아이디</label></h3>
              <span class="id-input-box">
                <input type="text" id="userid" class="input-box" name="userid">
              </span>
        </div>

        <div class="log-in-row">
          <h3 class="log-in-row-title"><label for="log-in-pw">비밀번호</label></h3>
            <span class="pw-input-box">
              <input type="password" id="pw" class="input-box" name="pw">
            </span>
        </div>
        <!-- <div>      
          <p>
            <label for="keep">로그인 유지</label>
            <input type="checkbox" name="keep" id="keep">
          </p>
        </div> -->
        <div class="log-in-button-area">
          <button type="submit" class="log-in-button">
            <span>로그인</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<footer>
  Created by<br>
  김영훈, 김학재, 남호철, 안석진, 윤지아<br>
</footer>

</body>
</html>
